body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background: #020617;
  color: #22c55e;
}

/* CONTENEDOR */
.terminal {
  max-width: 700px;
  margin: auto;
  padding: 40px;
}

/* TEXTO */
.title {
  font-size: 40px;
  text-align: center;
  margin: 20px 0;
}

.subtitle {
  text-align: center;
  color: #94a3b8;
}

.line {
  color: #22c55e;
}

/* COMANDOS */
.commands {
  margin-top: 30px;
}

.command {
  margin-bottom: 15px;
}

.command span {
  font-weight: bold;
}

/* FORM */
.form {
  margin-top: 40px;
}

.form h2 {
  margin-top: 20px;
  font-size: 16px;
}

/* INPUTS */
input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  background: #0f172a;
  color: #22c55e;
  border: 1px solid #22c55e33;
}

/* BOTÓN */
button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* CTA */
.cta {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #22c55e;
  text-decoration: none;
}

/* STATUS */
.status {
  margin-top: 20px;
  font-size: 12px;
}

#status {
  margin-top: 10px;
  color: #22c55e;
}
